html{
    font-size: 20px;
}
main{
    background-color: rgb(120, 219, 21);
    width: 75%;
    margin: auto;
}
section{
    min-height: 40vh;
}
p{
    font-size: 1.5rem;
    overflow: auto;
    line-height: 2.0;
    height: 150px;
}
section:nth-of-type(2n+2){
   border-top: ridge crimson;
   border-bottom: double rgb(19, 6, 66);
   background-color: hotpink;
   border-width: 2em;
    
}
section:nth-of-type(2n+1){
    border-left: groove purple;
    border-right: solid orange;
    border-width: 2em;
}
h2{
    margin: 11px 0;
    padding: 0 0 8px 0;
    border-bottom: dashed rgb(79, 102, 33);
}

